{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1>Dashboard</h1>

<div class="card">
  <div class="card-header">
    {{ current_user.name }}
  </div>
  <div class="card-body">
    <p class="card-text">

      <div class="container">
        <div class="row">
          <div class="col-8">
            <strong>Name: </strong>{{ current_user.name }}<br>
            <strong>Username: </strong>{{ current_user.username }}<br>
            <strong>User ID: </strong>{{ current_user.id }}<br>
            <strong>Email: </strong>{{ current_user.email }}<br>
            <strong>About: </strong>{{ current_user.about }}<br>
            <strong>Date joined: </strong>{{ current_user.date_added }}<br><br>
            <a href="{{ url_for('logout') }}" class="btn btn-sm btn-secondary">Logout</a>
            <a href="{{ url_for('update', id=current_user.id) }}" , class="btn btn-sm btn-secondary">Update profile</a>
            <a href="{{ url_for('delete', id=current_user.id) }}" class="btn btn-sm btn-danger">Delete</a>
          </div>
          <div class="col-4">
            <img src="{{ url_for('static', filename='images/default_profile_pic.png') }}" width="200" align="right" alt="">
          </div>
        </div>
      </div>
    </p>

  </div>
</div>

{% endblock %}
