{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if name %}
<h1>Update User...</h1>

{% else %}
<h1>Update User</h1>
<div class="shadow-none p-3 mb-5 bg-light rounded">
  <form class="w-25" method="POST" action="/update/{{ new_data.id }}">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.username.label(class="form-label") }}
      {{ form.username(class="form-control", value=new_data.username) }}
    </div>

    <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control", value=new_data.name) }}
    </div>

    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control", value=new_data.email) }}
    </div>

    {{ form.submit(class="btn btn-sm btn-secondary") }}

    <a href="{{ url_for('delete', id=id) }}" class="btn btn-sm btn-danger">Delete</a>
  </form>
</div>
{% endif %}

{% endblock %}
